.container {
    position: relative;
}

.list li {
    margin-bottom: 1em;
}

.link {
    color: #4dffff;
    text-decoration: none;
    border-bottom: 1px dotted #4dffff;
}
.link:visited {
    color: #f9f;
    border-bottom: 1px dotted #f9f;
}

.table {
    border-collapse: collapse;
}
.table td, .table th {
    border: 1px solid #fff;
    padding: 1em;
}

.fab {
    position: fixed;
    right: 3em;
    bottom: 3em;
    z-index: 10;
}
.fab button {
    background-color: #FF6767;
    border: 0;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
}
.fab button:active {
    transform: translateY(2px);
}
.dialogContainer {
    background-color: #000c;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.dialog {
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    height: 200px;
}
.new::after {
    content: 'new';
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    color: #FF6767;
    transform: skew(20deg, -20deg) translateY(-5px);
    animation: blink 0.45s linear infinite;
}

@keyframes blink {
    0% { color: #f66; }
    100% { color: #fff; }
}

.buildPanel {
    display: flex;
    justify-content: center;
    padding: 1em;
}
.build {
    border: 0;
    background-color: #f66;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
}
.build:active {
    transform: translateY(2px);
}
.error {
    text-align: center;
}